version: 2
jobs:
  android:
    working_directory: ~/capacitor-radar
    docker:
      - image: circleci/android:api-28-node
    steps:
      - checkout:
          path: ~/capacitor-radar
      - run: npm install
      - run: npm run build
      - run: sudo npm install -g @ionic/cli
      - run: cd example && npm install
      - run: cd example && ionic build
      - run: cd example && npx cap sync
      - run: chown -R $USER:$USER example/android
      - run: cd example/android && ./gradlew assembleDebug
  ios:
    macos:
      xcode: "12.3.0"
    working_directory: ~/capacitor-radar
    steps:
      - checkout:
          path: ~/capacitor-radar
      - run: npm install
      - run: npm run build
      - run: sudo npm install -g @ionic/cli
      - run: cd example && && npm install
      - run: cd example && ionic build
      - run: cd example && npx cap sync
      - run: cd example && ionic capacitor run ios --target $(ionic capacitor run ios --list | grep -o -m 1 '[A-F0-9]\{8\}-[A-F0-9]\{4\}-[A-F0-9]\{4\}-[A-F0-9]\{4\}-[A-F0-9]\{12\}')
workflows:
  version: 2
  node-android-ios:
    jobs:
      - android
      - ios