version: 2
jobs:
  android:
    working_directory: ~/capacitor-radar
    docker:
      - image: cimg/android:2023.10.2-node
    steps:
      - checkout:
          path: ~/capacitor-radar
      - run: node --version
      - run: npm install
      - run: npm run build
      - run: sudo npm install -g @ionic/cli
      - run: cd example && npm install
      - run: cd example && ionic build
      - run: cd example && npx cap sync
      - run: chown -R $USER:$USER example/android
      - run: cd example/android && ./gradlew assembleDebug
  ios:
    macos:
      xcode: 15.4.0
    working_directory: ~/capacitor-radar
    steps:
      - checkout:
          path: ~/capacitor-radar
      - run:
          name: Install nvm
          command: |
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh | bash
            source ~/.nvm/nvm.sh
            nvm install 18.20.2
            nvm use 18.20.2
            nvm alias default 18.20.2
      - run: node --version
      - run: npm install
      - run: npm run build
      - run: sudo npm install -g @ionic/cli
      - run: sudo chown -R 501:20 "/Users/distiller/.npm"
      - run: cd example && npm install
      - run: cd example && ionic build
      - run: cd example && npx cap sync
      - run: cd example && ionic capacitor run ios --target $(ionic capacitor run ios --list | grep 'iPhone' | grep -o -m 1 '[A-F0-9]\{8\}-[A-F0-9]\{4\}-[A-F0-9]\{4\}-[A-F0-9]\{4\}-[A-F0-9]\{12\}')
workflows:
  version: 2
  android-ios:
    jobs:
      - android
      - ios
